.page {
  padding: 20px;

  &Title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 3fr;
    height: max-content;
    margin-right: 50px;
  }

  .table {
    width: 50vw;
    border: 1px solid rgba(108, 108, 227, 0.32);
    margin-bottom: 20px;

    .pin {
      display: flex;
      justify-content: space-between;
      line-height: 2.6;
    }

    & > * {
      padding: 10px;
    }

    &Title {
      font-size: 18px;
      background: rgba(108, 108, 227, 0.32);
      font-weight: bold;

      .editIcon {
        height: 15px;
        float: right;
      }
    }
  }

  .left {
    width: 70%;
  }

  .field {
    display: grid;
    line-height: 3;
    grid-template-columns: 2fr 2fr;
    margin-top: 10px;


    input {
      height: 30px;
    }
    & > *:last-child {
      margin-left: 70px;

    }

  }

  .buttons {
    float: right;
    margin-top: 10px;

    & > * {
      margin: 10px;
    }
  }

  .imgLoader {
    margin-left: 50px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 10px;
    }

    & > img {
      width: 100%;

      margin-bottom: 20px;
    }
  }
}
