.page {
  padding: 20px;
  margin: auto;
  width: max-content;

  &Title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 3fr 6fr;
    height: max-content;

    .buttons {
      float: right;
      margin-top: 20px;

      & > * {
        margin-right: 10px;
      }
    }

  }

  .field {
    display: grid;
    line-height: 3;
    grid-template-columns: 1fr 2fr;

    & > div {
      margin-left: 40px;
    }
  }


  .imgLoader {
    margin-left: 50px;
    display: flex;
    flex-direction: column;

    & > * {
      margin-bottom: 10px;
    }

    & > img {
      width: 150px;
      height: 150px;
      margin-bottom: 20px;
    }
  }
}
