.page {
  padding: 20px;

  &Title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .content {
    .tableContainer {
      margin-bottom: 20px;

      .table {
        min-width: 900px;
      }
    }
  }

}

.button {
  float: right;
}
